__pycache__/
*.py[cod]
.idea/
.cache/
.venv/
venv/
Пересечение целей/
first version/
dist/
build/
*.xls
*.xlsx
*.xlsm
*.txt
*.spec
!Result/База перспективного ПФ_out.xlsx
!Макрос VBA/База перспективного ПФ.xlsm
